{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel = "stylesheet" href="{% static 'challenges/challenge.css' %}">
    <link rel = "stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock  %}

{% block page_title %} {{month|title}}{% endblock  %}



{% block  content%}
{% include "challenges/includes/header.html" %}
    <h1> {{month}} </h1>
    {% if text is not None %}
    <h2> {{text}} </h2>
    {% else %}
    <p class = "fallback"> There is no challenge for this month</p>
    {% endif %}
{% endblock  %}