h1, h2{
    font-weight: bold;
    text-align: center;
    text-align: center;

} 

h1{
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: rgb(182, 53, 182);  
}
h2{
    font-size: 3rem;
    font-weight: bold;
    color:white;
}

body{
    background-color: #1a1a1a;
}

.fallback{
    text-align: center;
    color: white;
    font-size: larger;
}